/*Default CSS Settings: 
The default values with which following elements will be shown by browsers*/

/*BASIC HTML*/

	html { 
	    display: block;
	}

	html:focus { 
	    outline: none;
	}

	title {
	    display: none;
	}

	body { 
	    display: block;
	    margin: 8px;
	}

	body:focus { 
	    outline: none;
	}

	h1 { 
	    display: block;
	    font-size: 2em;
	    margin-top: 0.67em;
	    margin-bottom: 0.67em;
	    margin-left: 0;
	    margin-right: 0;
	    font-weight: bold;
	}

	h2 {
	    display: block;
	    font-size: 1.5em;
	    margin-top: 0.83em;
	    margin-bottom: 0.83em;
	    margin-left: 0;
	    margin-right: 0;
	    font-weight: bold;
	}

	h3 { 
	    display: block;
	    font-size: 1.17em;
	    margin-top: 1em;
	    margin-bottom: 1em;
	    margin-left: 0;
	    margin-right: 0;
	    font-weight: bold;
	}

	h4 { 
	    display: block;
	    margin-top: 1.33em;
	    margin-bottom: 1.33em;
	    margin-left: 0;
	    margin-right: 0;
	    font-weight: bold;
	}

	h5 { 
	    display: block;
	    font-size: .83em;
	    margin-top: 1.67em;
	    margin-bottom: 1.67em;
	    margin-left: 0;
	    margin-right: 0;
	    font-weight: bold;
	}

	h6 { 
	    display: block;
	    font-size: .67em;
	    margin-top: 2.33em;
	    margin-bottom: 2.33em;
	    margin-left: 0;
	    margin-right: 0;
	    font-weight: bold;
	}

	p {
	    display: block;
	    margin-top: 1em;
	    margin-bottom: 1em;
	    margin-left: 0;
	    margin-right: 0;
	}

	hr { 
	    display: block;
	    margin-top: 0.5em;
	    margin-bottom: 0.5em;
	    margin-left: auto;
	    margin-right: auto;
	    border-style: inset;
	    border-width: 1px;
	}

/*FORMATTING*/

	address { 
	    display: block;
	    font-style: italic;
	}

		bdo { 
	    unicode-bidi: bidi-override;
	}

	blockquote {
	    display: block;
	    margin-top: 1em;
	    margin-bottom: 1em;
	    margin-left: 40px;
	    margin-right: 40px;
	}

	q { 
	    display: inline;
	}

	q:before { 
	    content: open-quote;
	}

	q:after { 
	    content: close-quote;
	}

	cite { 
	    font-style: italic;
	}

	del {
    	text-decoration: line-through;
	}
		
	ins { 
    	text-decoration: underline;
	}

	dfn {
    	font-style: italic;
	}

	mark {
    	background-color: yellow;
    	color: black;
	}

	pre {
		display: block;
		font-family: monospace;
		white-space: pre;
		margin: 1em 0;
	}	

	rt {
    	line-height: normal;
	}

	s { 
    	text-decoration: line-through;
	}

	small { 
	    font-size: smaller;
	}

	sub { 
	    vertical-align: sub;
	    font-size: smaller;
	}

	sup { 
	    vertical-align: super;
	    font-size: smaller;
	}

	u {
	    text-decoration: underline;
	}



	/*PHRASE TAGS*/

		em { 
    		font-style: italic;
		}	

		strong { 
    		font-weight: bold;
		}

		code {
	    	font-family: monospace;
		}

		samp {
			font-family: monospace;
		}

		kbd {
			font-family: monospace;
		}

		var {
			font-style: italic;
		}

		b { 
	    	font-weight: bold;
		}

		i {
			font-style: italic;
		}

/*FORMS AND INPUT*/

	form {
	    display: block;
	    margin-top: 0em;
	}

	label {
	    cursor: default;
	}

	fieldset { 
	    display: block;
	    margin-left: 2px;
	    margin-right: 2px;
	    padding-top: 0.35em;
	    padding-bottom: 0.625em;
	    padding-left: 0.75em;
	    padding-right: 0.75em;
	    border: 2px groove (internal value);
	}

	legend {
	    display: block;
	    padding-left: 2px;
	    padding-right: 2px;
	    border: none;
	}

	datalist { 
	    display: none;
	}

	output {
	    display: inline;
	}

/*IMAGES*/
	
	figure { 
	    display: block;
	    margin-top: 1em;
	    margin-bottom: 1em;
	    margin-left: 40px;
	    margin-right: 40px;
	}

	figcaption { 
	    display: block;
	}

/*AUDIO/VIDEO*/

/*LINKS*/

	a:link, a:visited { 
	    color: (internal value);
	    text-decoration: underline;
	    cursor: auto;
	}

	a:link:active, a:visited:active { 
	    color: (internal value);
	}

	link {
	    display: none;
	}

	nav {
	    display: block;
	}

/*LISTS*/

	li {
	    display: list-item;
	}

	ul { 
	    display: block;
	    list-style-type: disc;
	    margin-top: 1em;
	    margin-bottom: 1 em;
	    margin-left: 0;
	    margin-right: 0;
	    padding-left: 40px;
	}

	ol {
	    display: block;
	    list-style-type: decimal;
	    margin-top: 1em;
	    margin-bottom: 1em;
	    margin-left: 0;
	    margin-right: 0;
	    padding-left: 40px;
	}

	dl {
	    display: block;
	    margin-top: 1em;
	    margin-bottom: 1em;
	    margin-left: 0;
	    margin-right: 0;
	}

	dt { 
	    display: block;
	}

	dd { 
	    display: block;
	    margin-left: 40px;
	}

	menu {
	    display: block;
	    list-style-type: disc;
	    margin-top: 1em;
	    margin-bottom: 1em;
	    margin-left: 0;
	    margin-right: 0;
	    padding-left: 40px;
	}

/*TABLES*/

	table {
	    display: table;
	    border-collapse: separate;
	    border-spacing: 2px;
	    border-color: gray;
	}

	caption { 
	    display: table-caption;
	    text-align: center;
	}

	tr {
	    display: table-row;
	    vertical-align: inherit;
	    border-color: inherit;
	}

	th {
	    display: table-cell;
	    vertical-align: inherit;
	    font-weight: bold;
	    text-align: center;
	}

	td {
	    display: table-cell;
	    vertical-align: inherit;
	}

	thead {
	    display: table-header-group;
	    vertical-align: middle;
	    border-color: inherit;
	}

	tbody {
	    display: table-row-group;
	    vertical-align: middle;
	    border-color: inherit;
	}

	tfoot {
	    display: table-footer-group;
	    vertical-align: middle;
	    border-color: inherit;
	}

	col { 
	    display: table-column;
	}

/*STYLES AND SEMANTICS*/

	style {
	    display: none;
	}

	div {
	    display: block;
	}

	header { 
	    display: block;
	}

	hgroup { 
	    display: block;
	}

	section { 
	    display: block;
	}

	article { 
	    display: block;
	}

	aside { 
	    display: block;
	}

	details { 
	    display: block;
	}

	summary {
	    display: block;
	}

/*PROGRAMMING*/

	script {
	    display: none;
	}

	embed:focus { 
	    outline: none;
	}

	object:focus {
	    outline: none;
	}

	param {
	    display: none;
	}

/*OTHER TAGS*/

	iframe:focus { 
	    outline: none;
	}

	iframe[seamless] { 
	    display: block;
	}

h3.title {
	color: red;
}

/*p {
	text-decoration: underline;
}*/